<ion-side-menus ng-controller="mainController">

	<!-- Center content -->
	<ion-side-menu-content>
		<ion-header-bar class="bar-dark">
			<h1 class="title">Open Ticket</h1>
		</ion-header-bar>
		<ion-content>
		<div class="list" >
			<label class="item item-input">
				<input type="text" ng-model="ticket.employee_id" placeholder="Employee Id">
			</label>
			<label class="item item-input">
				<input type="text" ng-model="ticket.order_type" placeholder="Order Type Id">
			</label>
			<label class="item item-input">
				<input type="text" ng-model="ticket.revenue_center" placeholder="Revenue Center Id">
			</label>
			<button type="submit" ng-click="update(ticket)" class="btn btn-embossed btn-danger">Submit Ticket</button>
		</div>
			<!-- our list and list items -->
			<ion-list>
				<ion-item ng-repeat="ticket in tickets">
					<ion-list>
						<strong><h2> Ticket Name {{ticket.name}} </h2></strong>
						<ion-item> Ticket was Opened at {{ticket.opened_at}}</ion-item>
						<ion-item>Ticket id is {{ticket.id}}</ion-item>
						<ion-item>
							<ion-list>
								<ionic-item> Other charges: {{ticket.totals.other_charges}}</ionic-item>
								<br/>
								<ionic-item> Service: {{ticket.totals.service_charges}}</ionic-item>
								<br/>
								<ionic-item> Totals: {{ticket.totals.total}}</ionic-item>
								<br/>
								<ionic-item> Sub totals: {{ticket.totals.sub_total}}</ionic-item>
								<br/>
								<ionic-item> Due: {{ticket.totals.due}}</ionic-item>
								<br/>
								<br/>
								<button class="button button-positive"><a href="js/views/order.html"></a> Place order</button>
							</ion-list>
						</ion-item>
					</ion-list>
				</ion-item>
			</ion-list>

		</ion-content>
	</ion-side-menu-content>

</ion-side-menus>
