<div ng-controller="orderController">
	<h2> Your Order Currently Consists of </h2>
	<ion-list>
		<ion-item ng-repeat="item in itemss">
		<strong><h2> Item: {{item.id}} </h2></strong>
	</ion-list>
	</br>
	</br>
	<h2> Items for sale </h2>
	<div class="row">
	  <button ng-controller="orderController" ng-click="placeorder(gkc8bca9)" class="col"> Poblano Picasso Burger</button>
	  <button ng-click="placeorder(recb5cKX)" class="col"> Mozzarella Sticks</button>
	  <button ng-click="placeorder(GyiKLiLo)" class="col"> Chips and Salsa</button>
	  <button ng-click="placeorder(gki84ia9)" class="col"> Soda</button>
	</div>
	<button ng-controller="orderController" class="button button-positive" ng-click="placeorder(ticket.id)">Place order</button>
</div>