<order-nav></order-nav>
<ion-content>
	<h2> Items for sale </h2>
	<button ng-click="place_order('gkc8bca9')" class="button button-positive" > Poblano Picasso Burger</button>
	</br>
	</br>
	<button ng-click="place_order('recb5cKX')" class="button button-positive"> Mozzarella Sticks</button>
	</br>
	</br>
	<button ng-click="place_order('GyiKLiLo')" class="button button-positive"> Chips and Salsa</button>
	</br>
	</br>
	<button ng-click="place_order('gki84ia9')" class="button button-positive"> Soda</button>
	</br>
	</br>
</ion-content>