<order-nav></order-nav>
<ion-content>
	<h2> Your Order Currently Consists of </h2>
	<ion-list>
		<ion-item ng-repeat="item in items">
			<ion-list>
				<ionic-item> Order Type: {{item.name}}</ionic-item>
				<br/>
				<ionic-item> Order Id: {{item.id}}</ionic-item>
				<br/>
				<ionic-item> Price: {{item.price_per_unit}}</ionic-item>
				<br/>
				<ionic-item> Quantity ordered: {{item.quantity}}</ionic-item>
				<br/>
				<ionic-item> Order Comment: {{item.comment}}</ionic-item>
				<br/>
				<a href="">Modify Order</a> 
				<a href="">Pay for Order</a> 
			</ion-list>
		</ion-item>
	</ion-list>
</ion-content>